* {
  box-sizing: border-box;
}


h1{
  background: #4aaaa5;
  display: inline-block;
  margin-bottom: 0;
  padding:13px;
}

header{
  width: auto;
  background: white;
}

.main{
  border: black;
  background: white;
  width: auto;
  height: 400px;
  position: relative;
}

.wrapper{
  padding-left: 20px;
  padding-right: 20px;
  width: 820px;
  margin: 0 auto;
}

h2{
  padding:17px;
}

body {
  margin: auto;
}


li {
  float: left;
  border-right:1px solid #bbb;
  text-align: left;
  padding: 5px;
}



ul {
  list-style-type: none;
  overflow: hidden;
}

.divide{
  float: left;
  width: 50%;
}

.clearfix {
  overflow: auto;
}
.page-split-header{
  line-height: 1px;
  font-size: 1px;
  height: 2px;
  margin-bottom: 14px;
  padding: 0px;
  border-top: #dddddd 1px solid;
}
.page-split{
  line-height: 1px;
  font-size: 1px;
  height: 2px;
  margin-top: 17px;
  margin-bottom: 14px;
  padding: 0px;
  border-top: #dddddd 3px solid;
  width: 80%;
  position: relative;
  left:10%;
}



.resizedTextbox {width: 100px; height: 20px}

form{
  width: 100;

}

.left1{
  padding-left: 19.20%;
}

.right1{
  padding-right: 19.20%;
}



#footer{
  width: 100%;
  text-align: center;
  color: #333;
  background: #ccc;
  position: absolute;
  bottom: 0;
  border-top: #4aaaa5;
  border-width: 10px;
}