* {
  box-sizing: border-box;

}


h1{
  background: #4aaaa5;
  display: inline-block;
  margin-bottom: 0;
  padding:15px;
}

header{
  width: auto;
  background: white;
}

.main{
  border: black;
  background: white;
  width: auto;
  height: auto;
  position: relative;
  padding: 15px;
}

.wrapper{
  padding-left: 20px;
  padding-right: 20px;
  width: 820px;
  margin: 0 auto;
  min-height: 100%; 
}

h2{
  
}

body {
  margin: auto;
}


li {
  float: left;
  border-right:1px solid #bbb;
  text-align: left;
  padding: 5px;
}



ul {
  list-style-type: none;
  overflow: hidden;
}

.divide{
  float: left;
  width: 50%;
}

.clearfix {
  overflow: auto;
}
.page-split-header{
  line-height: 1px;
  font-size: 1px;
  height: 2px;
  margin-bottom: 14px;
  padding: 0px;
  border-top: #dddddd 1px solid;
}
.page-split{
  line-height: 1px;
  font-size: 1px;
  height: 2px;
  padding: 10px;
  border-top: #dddddd 3px solid;
  width: 80%;
  position: relative;
  left:10%;
}



.resizedTextbox {width: 100px; height: 20px}

input.text{
  width: 100%

}

#comments{
  height: 60px;
}

input.button{
  background-color: #4aaaa5;
  width: 20%
}

.left1{
  padding-left: 19.5%;
}

.right1{
  padding-right: 19.5%;
}
body{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  color: #777777;
}


#footer{
  font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
  width: 100%;
  text-align: center;
  color: #666666;
  background: #ccc;
  position: absolute;
  bottom: 0;
  border-top: #4aaaa5 10px solid;
}

.header-font{
  font-family: 'Georgia', Times, Times New Roman, serif;
  color : black;
  
}


p{
  line-height: 2;
}

img{
  margin-right: 10px;
  width: 200px;
  height: 200px;
}

.index-page{
  float: left; 
  margin: 4px 10px 0px 0px; 
  width: 200px;
  height: 200px;
}