.header1 {
  padding-bottom: 20px;  
}

h1{
  background: green;
}

body {
  margin: auto;
}

.left {
  float: left;
  background: #666;
  width: 20%;
  padding: 60px;
  margin-bottom: 20px;
}

.middle {
  float: left;
  background: #888;
  width: 60%;
  padding: 20px;
  margin-bottom: 20px;

}

.right {
  float: left;
  background: #666;
  width: 20%;
  padding: 60px;
  margin-bottom: 20px;
}

* {
  box-sizing: border-box;
}

#name{
  text-align: left;
}



li {
  float: left;
  border-right:1px solid #bbb;
  text-align: left;
  padding: 5px;
}



ul {
  list-style-type: none;
  overflow: hidden;
}

.divide{
  float: left;
  width: 50%;
}

.clearfix {
  overflow: auto;
}

.page-split{
  line-height: 1px;
  font-size: 1px;
  height: 2px;
  margin-top: 17px;
  margin-bottom: 14px;
  padding: 0px;
  border-top: teal 1px solid;
}

#footer{
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: #333;
  background: #ccc;
  position: absolute;
  bottom: 0;
  
}

.resizedTextbox {width: 100px; height: 20px}

form{
  width: 100;

}